<form action="logout.php" method="post">
    <button class="btn btn-danger" type="submit">Logout</button>
</form>
<form action="staff/changePassword.php" method="get">
    <button class="btn btn-info" type="submit">Změnit heslo</button>
</form>