{{#errors}}
    <div class="alert alert-danger">
        {{.}}
    </div>
{{/errors}}
<form method="post">
    <label for="newPassword">Nové heslo:</label>
    <input type="password" name="newPassword" id="newPassword">
    <br>
    <label for="confirmPassword">Potvrzení hesla:</label>
    <input type="password" name="confirmPassword" id="confirmPassword">
    <br>
    <button type="submit">Změnit</button>
</form>
