{{#errors}}
<div class="alert alert-danger">
    {{.}}
</div>
{{/errors}}
<form method="post">
    <label for="newPassword">Nové heslo:</label>
    <input type="password" name="newPassword" id="newPassword">
    <br>
    <button type="submit">Změnit</button>
</form>
